:root
/*body*/
.body-section {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #ffffff;
}

/* Logo Styles */
.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   color: var(--logo-text-color, #4d5ae5) ;
   text-decoration: none;
}
.logo-style :hover, :focus {color: #404bbf;}

.logo-style :hover
:focus {
    color: #404bbf;}
  
.inside-logo {
    color:#2e2f42;
}

.link-style {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42
 }

 .address-style {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }
 
 .contacts-color { color: #434455 }
 
 .contacts-color:hover  {color: #404bbf}
 .contacts-color:focus {color: #404bbf}
 .contacts-color:active {color: #404bbf}
 .link {
    text-decoration: none;
 }
  /* section 1*/
  .section-one {
    background-color: #2e2f42;
  }

  .section-one-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff
  }

  .section-one-button {
    background-color: #404bbf;
    font-family: Roboto, sans-serif;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.04em;
    color: #ffffff
}
.section-one-button :hover, :focus {background-color: #404bbf;}

.section-one-button :hover
:focus {
    color: #404bbf;}
.section-one-button:hover  {color: #404bbf}
 .section-one-button:focus {color: #404bbf}
 .section-one-button:active {color: #404bbf}

.section-one-button  {
    cursor: pointer;
}

/*section 2*/
.sections-two {}

.section-two-feature {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42
}

.section-two-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

/*section 3*/
.sections-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center ;
    text-transform: capitalize;
    color: #2e2f42;
}
/*section 4*/
.section-four {
    background-color: #f4f4fd;
}
.section-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42
}
.section-four-team {
    background-color: #ffffff;

}
.section-four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42
}
.section -four-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}





